<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="false" strict="false" explicit="true" targetFramework="4.0">
			<codeSubDirectories>
				<add directoryName="vb"/>
				<add directoryName="cs"/>
			</codeSubDirectories>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
